<html>
  <body>
    <img src="hp_logo.png" alt="HP Logo">
    <h1>Welcome!</h1>
    <h2>This is a simple web page served by apache and managed by Chef</h2>
    Find more info about OneView <a href="http://www8.hp.com/us/en/business-solutions/converged-systems/oneview.html">here</a></br>
    <%= node["ipaddress"] %>:<%= @port %>
  </body>
</html>
